html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #ff5b2e;
}
.btn {
    --height: 56px;
    --color-btn: rgb(0, 9, 88);
    --color-border-btn: rgb(0, 9, 88, 0.7);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    border-radius: 999px;
    height: var(--height);
    line-height: var(--height);
    color: var(--color-btn);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid var(--color-border-btn);
}

.btn:hover {
    opacity: 0.9;
}
.btn--primary {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100rem;
    background-color: #fff;
}

.section-heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19231; /* 119.231% */
}
.section_heading {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
}

body {
    font-size: 1.6rem;
    background: #fffaf5;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* ! header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}
.navbar__link,
.header-action__link {
    color: #5e6085;
    padding: 8px 18px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #000958;
}

.header-action__btn {
    min-width: 118px;
    --height: 50px;
}

/* ! hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 121px;
}
.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}
.hero__img-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    border: 3px solid #fff;
    background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
    position: relative;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}
.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor--left {
    left: -58px;
    bottom: 10px;
    display: block;
}

.hero__decor--right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap--small {
    border-radius: 16px;
    background: #faa7ad;
    width: 186px;
    height: 244px;
    align-self: flex-end;
    margin: 0 0 -58px -24px;
    border: 2px solid #fcdddf;
}

.hero__list {
    position: absolute;
    left: 119px;
    bottom: 0;
    width: 250px;
    height: 116px;
    border-radius: 10px;
    padding: 18px 14px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.hero__list-item {
    display: flex;
    align-items: center;
}

.hero__list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec23f;
}
.hero__list-item:last-child .hero__list-item__thumb {
    background: #c6e2fa;
}

.hero__list-item__info {
    margin-left: 10px;
}
.hero__list-item__title {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
.hero__list-item__skelton {
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
    margin-top: 6px;
    width: var(--width, 118px);
}

.hero__list-item--separate {
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    margin: 20px 0;
    border-radius: 999px;
}
.hero__heading {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15152; /* 115.152% */
    margin-bottom: 24px;
}
.hero__desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
    width: 391px;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 28px;
}
.hero__row .btn {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    min-width: 198px;
    --height: 60px;
    font-size: 1.6rem;
}

.hero__cta-link {
    text-decoration: underline;
    color: #000958;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
    margin-left: 24px;
}

/* ! About */
.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__label {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.about__heading {
    margin-top: 15px;
    width: 446px;
}

.about__desc {
    margin-top: 24px;
    width: 431px;
}
.about__checklist {
    margin-top: 54px;
    display: grid;
    justify-content: flex-start;
    gap: 36px;
    grid-template-columns: auto auto;
}
.about__check-item {
    display: flex;
    align-items: center;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    position: relative;
}

.about__check-item::before {
    content: "";
    width: 24px;
    height: 24px;
    margin-right: 10px;
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 4px;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}
.about__check-item::after {
    content: url(../img/check.svg);
    position: absolute;
    left: 5px;
    top: 2px;
}
.about__media {
    position: relative;
}

.about__card {
    width: 82px;
    border-radius: 10px;
    padding: 30px 26px;
    color: #fff;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    position: absolute;
    top: 165px;
    left: 0;
    text-align: center;
}
.about__card-title {
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}
.about__card-desc {
    margin: 14px auto 0;

    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42857; /* 142.857% */
}
.about__card-decor {
    position: absolute;
    top: -40px;
    right: -34px;
}

.about__img-wrap {
    width: 494px;
    position: relative;
    margin-left: auto;
}
.about__img-wrap::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 326px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}
.about__img {
    width: 450px;
    margin: 0 auto;
    display: block;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap--bottom::after {
    content: none;
}
.about__img-wrap--bottom {
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}
.about__img-wrap--bottom .about__img {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}
.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}
.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}
.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}
.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}
.about__decor-img:nth-child(5) {
    right: 19px;
    bottom: 150px;
}
.about__decor-img:nth-child(6) {
    bottom: -55px;
    right: -42px;
}

.about__desc--bottom {
    width: 511px;
    margin: 24px 0 54px;
}

.tab__list {
    display: inline-flex;
    gap: 52px;
    position: relative;
}
.tab__list::after,
.tab__item--active::after,
.tab__content-more::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    opacity: 0.07;
    border-radius: 1px;
    background: var(--primary-color);
}
.tab__item--active::after,
.tab__content-more::before {
    width: 95px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    opacity: 1;
}

.tab__item {
    position: relative;
    display: flex;
    padding-bottom: 14px;
    align-items: center;
}
.tab__item svg {
    margin-right: 11px;
}

.tab__title {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.tab__contents {
    padding-top: 36px;
}
.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    font-size: 1.4rem;
    line-height: 1.71;
    width: 391px;
    color: #656689;
}

.tab__content-more {
    display: inline-block;
    margin-top: 32px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    position: relative;
    padding-bottom: 5px;
}
.tab__content-more::before {
    width: 86px;
}
